@import './common';

.search-form {
 text-align: center;
}

.info {
    display: flex;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

 .js-load-more {
     margin: 20 auto;
    // display: block;
}